#profile-photo {
    border-radius: 50%;
    border: 1px solid #7c5858;
    padding: 5px;
    width: 25%;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    filter: sepia(100%);
}

p {
    font-family: cursive;
    text-align: center;
    color: rgb(59, 38, 70);
}


h1 {
    text-align: center;
    font-family: Bradley Hand, cursive;
    font-size: 100PX;
    padding: 0px;
    color: rgb(59, 38, 70);
}

h2 {
    font-style: italic;
    font-family: Snell Roundhand, cursive;
    color: rgb(26, 15, 33);
    font-weight: 1000;
}

h3 {
    font-style: italic;
    color: rgb(22, 13, 30);
}

text {
    color: rgb(73, 4, 4);
    font-size: x-large;
}

body {
    background-image: url(images/hd-white-wall-seamless-crack-cracked-texture-transparent-background-3163197886251sayojhey.png);
}


