#profile-photo {
    border-radius: 50%;
    border: 1px solid #7c5858;
    padding: 5px;
    width: 25%;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    filter: sepia(100%);
}

p {
    font-family: cursive;
    text-align: center;
}


h1 {
    text-align: center;
    font-family: Bradley Hand, cursive;
    font-size: 100PX;
    padding: 0px;
    color: rgb(59, 38, 70);
}
h2 {
    font-style: italic;
    font-family: Snell Roundhand, cursive;
}

body {
    background-color: rgb(166, 213, 161);
}

